<button class="btn btn-primary" (click)="SomeMethod()" >Click</button>
<button class="btn btn-primary" (dblclick)="SomeMethodDblClick()" >Click2</button>
<input type="text" class="form-control" (input)="textChanged($event)" />
<p (mouseenter)="onMouseEntered()" (mouseleave)="onMouseLeft()" [class]="paraClass" >Writing some Random paragraph to show you the mouse related Events.
    Writing some Random paragraph to show you the mouse related Events.
    Writing some Random paragraph to show you the mouse related Events.</p>