<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Product Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a> -->
        <a class="nav-link" [routerLink]="'/home'">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="/products">Products</a> -->
        <!-- <a class="nav-link" routerLink="/products">Products</a> -->
        <a class="nav-link" [routerLink]="'/products'">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/tdf'">TDF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/students'">Students</a>
      </li>
      
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <form (ngSubmit)="SignIn(f.value)" #f="ngForm" *ngIf="!authenticated">
        <input class="form-control mr-sm-2" required type="email" placeholder="Email Id" aria-label="EmailId"
          #EmailId="ngModel" ngModel name="EmailId">
        <input class="form-control mr-sm-2" required type="password" placeholder="Password" aria-label="Password"
          #Password="ngModel" ngModel name="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="f.invalid">Sign
          In</button>
        <button [routerLink]="'/signup'" class="btn btn-outline-primary my-2 my-sm-0" [disabled]="isAuthenticated">Sign
          Up</button>
      </form>      
      <button (click)="SignOut()" class="btn btn-outline-danger my-2 my-sm-0" *ngIf="authenticated">Sign
        Out</button>
    </div>
  </div>
</nav>