<div class="container">
  <div class="jumbotron"><h1>String Interpolation Examples</h1></div>
  <div class="row">
    <div class="col-md-3">Basic Code Expression</div>
    <div class="col-md-3">{{2+3}}</div>
  </div>

  <div class="row">
    <div class="col-md-3">Basic Code Expression 2</div>
    <div class="col-md-3">{{greetingMessage}}</div>
  </div>
  <div class="row">
    <div class="col-md-3">String Interpolation of a number</div>
    <div class="col-md-3">{{num}}</div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
  </div>
</div>
