<div class="container">
  <h2>Products List</h2>
  <div class="row">
    <!-- <div class="col-md-4" *ngFor="let prod of products">
      <app-product-thumbnail [product]="prod"></app-product-thumbnail>
      <app-product-thumbnail [productDetails]="prod"></app-product-thumbnail>
    </div> -->    
    
        <app-product-thumbnail 
            *ngFor="let prod of products" 
            [productDetails]="prod"
            (pd)="CatchingInParent($event)"
          ></app-product-thumbnail>
      
  </div>  
</div>