<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <ul class="list-group">

          <li class="list-group-item" style="margin-top: 10px; margin-bottom: 10px;">
            <button class="btn btn-default" (click)="AddNewProduct()">Add New Product</button>
          </li>

          <li *ngFor="let prod of products" class="list-group-item">
            <a [routerLink]="prod.productId">{{prod.productName}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>