.imageStyle1{
    width: 75px;
    height: 75px;
    border:solid;
    border-width: 3px;
    border-color: aqua;
}

.veryGood{
    background-color: chartreuse;
    font-size: 18px;
    
}
.good{
    background-color: gold;
    font-size: 16px;
    
}
.average{
    background-color: blue;
    font-size: 14px;
    
}
.poor{
    background-color: pink;
    
    
}
.veryBad{
    background-color: aqua;
    font-size: 10px;
    
}


.bold{
    font-weight: bold;
    font-style: italic;
    color: white;
}