<div class="container">
  <form (ngSubmit)="OnSignUp(f.value)" #f="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="FirstName">First Name</label>
          <input type="text" name="FirstName" ngModel #FirstName="ngModel" maxlength="20" required id="FirstName"
            class="form-control" placeholder="First Name" aria-describedby="helpId">
          <small *ngIf="FirstName.touched && FirstName.errors?.required" class="text-muted">
            <span>First Name is Mandatory</span>
          </small>
          <!-- <small *ngIf="FirstName.touched && FirstName.errors.maxlength" class="text-muted">
                <span>First Name should be maximum of 20 characters</span>
              </small> -->
        </div>


      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="LastName">Last Name</label>
          <input type="text" name="LastName" ngModel #LastName="ngModel" required id="LastName" class="form-control"
            placeholder="Last Name" aria-describedby="helpId">
          <small id="helpId" class="text-muted"><span *ngIf="LastName.invalid && LastName.touched">Last Name is
              Mandatory</span></small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="MobileNo">Mobile No</label>
          <input type="text" class="form-control" name="MobileNo" ngModel required id="MobileNo"
            aria-describedby="helpId" placeholder="Mobile No">
          <small id="helpId" class="form-text text-muted">Enter Mobile No</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="EmailId">Email Id</label>
          <input type="email" class="form-control" name="EmailId" #EmailId="ngModel" ngModel id="EmailId" required email
            aria-describedby="emailHelpId" placeholder="Email Id">
          <small id="emailHelpId" *ngIf="EmailId.touched && EmailId.errors?.required" class="form-text text-muted">Enter
            Email Id</small>
          <small id="emailHelpId" *ngIf="EmailId.touched && EmailId.errors?.email" class="form-text text-muted">Invalid
            Email
            Id</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Password">Password</label>
          <input 
            type="password" 
            class="form-control" 
            name="Password" 
            [pattern]="passwordPattern" 
            required ngModel
            #Password="ngModel"
            (input)="ConfirmPassword.control.updateValueAndValidity()" 
            id="Password" 
            placeholder="Password"
            [class.is-invalid]="(ConfirmPassword.errors?.match ||Password.errors?.required) && Password.touched"
            >
          <small id="PasswordHelpId" *ngIf="Password.touched && Password.errors?.pattern" class="form-text text-muted">
            Password must be of 4 Characters including an uppercase,lowercase,number and special character
          </small>
          <small id="PasswordHelpId" *ngIf="ConfirmPassword.touched && ConfirmPassword.errors?.match"
            class="form-text text-muted">
            Both Passwords Not matching
          </small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ConfirmPassword">Confirm Password</label>
          <input 
              type="password" 
              class="form-control" 
              name="ConfirmPassword" 
              compare="Password" 
              #ConfirmPassword="ngModel" 
              required ngModel
              id="ConfirmPassword" 
              placeholder="Confirm Password" 
              [class.is-invalid]="(ConfirmPassword.errors?.match ||ConfirmPassword.errors?.required) && ConfirmPassword.touched">
          <small id="ConfirmPasswordHelpId" *ngIf="ConfirmPassword.touched && ConfirmPassword.errors?.required"
            class="form-text text-muted">
            Confirm Password is Mandatory
          </small>
          <small id="ConfirmPasswordHelpId" *ngIf="ConfirmPassword.touched && ConfirmPassword.errors?.match"
            class="form-text text-muted">
            Both Passwords Not matching
          </small>
        </div>
      </div>
    </div>

    <!-- <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit</button> -->
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>


</div>