<button class="btn btn-primary" (click)="GetAge()">Get Age</button>
<input type="number" class="form-control form-control-sm col-sm-3" [(ngModel)]="age" />
<div class="jumbotron" *ngIf="age>=18;else child">
  <h1>Hello, Welcome to the Adulthood</h1>
</div>
<!-- <div class="card" *ngIf="age<18 else child">
  <h2>All the best Child</h2>
</div> -->
<ng-template #child>
  <div class="card">
    <h2>All the best Child</h2>
  </div>
</ng-template>
<!-- 
<div class="jumbotron" [hidden]="age<18" >
  <h1>Hello, Welcome to the Adulthood</h1>
</div> -->